/CandidatesManagement/nbproject/private/
/CandidatesManagement/build/
/StudentManagement/nbproject/private/
/StudentManagement/build/
/FruitShop/nbproject/private/
/FruitShop/build/
/NormalizeText/nbproject/private/
/NormalizeText/build/
/Equation/nbproject/private/
/Geographic/nbproject/private/
/Geographic/build/
