/CandidatesManagement/nbproject/private/
/CandidatesManagement/build/
/StudentManagement/nbproject/private/
/StudentManagement/build/
/FruitShop/nbproject/private/
/FruitShop/build/
/NormalizeText/nbproject/private/
/NormalizeText/build/
/Equation/nbproject/private/
/Geographic/nbproject/private/
/Geographic/build/
/Equation/build/
/ContactManagement/nbproject/private/
/ContactManagement/build/
/Computer/build/
/DoctorManagement/nbproject/private/
/UserManagement/nbproject/private/
/DoctorManagement/build/
/WorkerManagement/nbproject/private/
/WorkerManagement/build/
/Dictionary/nbproject/private/
/Dictionary/build/
/HandlingFile/nbproject/private/
/HandlingFile/build/
/Calculate/nbproject/private/
/Calculate/build/
/Person/nbproject/private/
/Student/nbproject/private/
/Student/build/
/Person/build/
/AnalyzeFile/nbproject/private/
/AnalyzeFile/build/
/Validate/nbproject/private/
/AnalyzeString/nbproject/private/
/AnalyzeString/build/
/Validate/build/
